.venv/
.vscode/
**/__pycache__/**
music_player/db.sqlite3
music_player/account/migrations/0001_initial.py
music_player/account/migrations/0002_alter_user_email.py
music_player/music/migrations/0001_initial.py
music_player/feedback/migrations/0001_initial.py
music_player/logs/log.log
music_player/media/Artists/images/Debussy_image.jpg
music_player/media/Artists/images/mohsen_chavoshi_image.jpg
music_player/media/Artists/images/naser_abdolahi_image.jpg
music_player/media/songs/covers/1.jpg
music_player/media/songs/covers/2.jpg
music_player/media/songs/covers/4.jpg
music_player/media/songs/covers/5.jpg
music_player/media/songs/covers/6.jpg
music_player/media/songs/covers/7_aY03Wyu.jpg
music_player/media/songs/covers/7.jpg
music_player/media/songs/covers/Qashange_man_cover.jpg
music_player/media/songs/files/07._clair_de_lune.mp3
music_player/media/songs/files/362817.mp3
music_player/media/songs/files/36281777.mp3
music_player/media/songs/files/Mohsen-Chavoshi-Qashange_Man_128.mp3
music_player/media/songs/files/Naser_Abdollahi___Bahar_Bahar_320.mp3
music_player/media/songs/files/Naser_Abdollahi_-_Raz_128.mp3
music_player/media/songs/files/Yann_Tiersen_-_Comptine_d_un_autre_ete_l_Apres-midi_-_musicgeek.ir.mp3
music_player/static/images/my_logo.png
music_player/account/migrations/0003_alter_artist_band_alter_artist_image.py
music_player/music/migrations/0002_alter_playlist_songs.py
